-- Insert StagingAccessPointConfiguration (used for PubRepo instance)
INSERT INTO stagingaccesspointconfiguration VALUES (nextval('stagingaccesspointconfiguration_id_seq'), NULL, TRUE, NULL, FALSE, NULL, 'edu.kit.dama.staging.ap.impl.BasicStagingAccessPoint', '{{ KITDM_LOCATION }}/webdav/', 'WebDav', 'http://{{ KITDM_HOST}}:{{ KITDM_PORT }}/webdav/', FALSE, '0000-0000-0000-0000');
---INSERT INTO stagingprocessor VALUES (nextval('stagingprocessor_id_seq'), TRUE, NULL, FALSE, NULL, 'edu.kit.dama.ui.pubrepo.staging.PublicationDataZIPProcessor', 'Publication Data Processor',NULL, 'SERVER_SIDE_ONLY', '0000-0000-0000-0000');
