<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2014 Karlsruhe Institute of Technology 

Licensed under the Apache License, Version 2.0 (the "License"); you may not
use this file except in compliance with the License. You may obtain a copy of
the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations under
the License.
-->
<!--
Descriptor for deploying KIT Data Manager as external web application in Tomcat.
In order to be able to access KIT Data Manager this file has to be placed at
$CATALINA_HOME/conf/Catalina/localhost/ and <KIT_DM_PATH> below has to be 
replaced by the location where your KIT Data Manager distribution is extracted to.
-->
<Context antiJARLocking="true" docBase="{{ KITDM_LOCATION }}/KITDM" path="/KITDM/"/>
